body{
    text-align:center;
  }
  #p1{
    font-size:50px;
    color: blue;
    word-spacing:10px;
  }
  #image1{
    border-style:soild;
    border-color:#304FFE;
    border:500px;
    border-radius:8000px;
    padding:10px; 
    width:1000px;
    
  }
  #p2{
    font-size:50px;
    color: blue;
    word-spacing:10px;
  }
  #p3{
    font-size:50px;
    color: blue;
   
   word-spacing:10px;
  }
  name{
      font-size: 30px;
      line-height: 1.2;
      font-family:Orbitron', sans-serif; 
  }
  h2{
   font-size: 30px;
      font-family: monospace;
      font-weight: 300;
      line-height: 1.2;
  }
  #bio{
      padding: 50px;
      text-align: center;
  }
  .line{
      height: 6px;
      background-color: dodgerblue;
      width: 70px;
      margin: 8px auto;
  }
  p{
      max-width:450px;
      margin: 25px;
      font-size: 17px;
      line-height: 1.3;
      
  }
  .menu{
      list-style: none;
      font-family: sans-serif;
      position: absolute;
      top: 10px;
      right: 30px;
      z-index: 10;
      cursor: pointer;
      
  }
  .links{
      float: left;
      color: blue;
      padding-top: 5px;
      padding-left: 9px;
      padding-right: 9px;
      padding-bottom: 5px;
      font-family: fantasy;
      font-size: 20px;
  }
  .links:hover{ 
     background-color: gold; 
  }
  html{
      scroll-behavior: smooth;
      
  }
  a{
      text-decoration: none;
  }
  .artical:hover{
      color: blueviolet;
  }